/* app css stylesheet */
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 100px;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

h1 {
    font-size: 2.3rem;
}

p.section-title {
    color: #dc3545;
    font-size: 1em;
    border-bottom: 1px solid #dc3545;
    margin-top: 50px;
}

.required-field {
    color: #dc3545;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.tableHeader {
    font-weight: bold;
}

.tableCell {
    border: 1px solid lightgrey;
    padding: 10px;
}

.inputCell {
    text-align: center;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Request DetailsModal */
.label-request-details {
    font-weight: bold;
}

/* Login */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Navbar */
.dropdown-toggle {
    cursor: pointer;
}

/* Page-list Header */
.header-list-page {
    margin-bottom: 15px;
}
.header-list-page h1 {
    display: inline;
}
.header-list-page .badge {
    margin-left: 3%;
    margin-top: 15px;
}

.badge {
    padding: 5px 5px 15px 5px;
    height: 1rem;
}