<div class="container">
    <h1>{{ title }}</h1>
    <form name="statusForm">
        <p class="section-title">Informations concernant le statut</p>
        <div class="form-group row">
            <label for="label" class="col-sm-3 col-form-label">Libellé <span class="required-field">*</span></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="status.label" id="label" required />
            </div>
        </div>

        <br /><br />

        <p><span class="required-field">*</span> Champ obligatoire</p>
        <button type="button" onclick="history.go(-1)" class="btn btn-default">Retour</button>
		<button type="submit" ng-disabled="statusForm.$invalid" ng-click="editStatus(status)" class="btn btn-primary">Enregistrer</button>
    </form>
    </div>