<div class="container">
	<div class="row header-list-page">
		<h1>Départements</h1>
		<a  class="badge badge-success"
			href="#/admin/department/editDepartment">Ajouter</a>
	</div>

	<br />
	
	<table class="table table-hover display" id="table_id">
		<thead>
			<tr>
				<th style="width: 5%" scope="col">#</th>
				<th style="width: 30%" scope="col">Libellé</th>
				<th style="width: 25%" scope="col">Cost Center</th>
				<th style="width: 5%" scope="col"></th>
				<th style="width: 5%" scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="d in departments">
				<th scope="row">{{ d.id }}</th>
				<td>{{ d.name }}</td>
				<td>{{ d.costCenter }}</td>
				<td>
					<a  class="badge badge-info" 
						href="#/admin/department/editDepartment/{{ d.id }}">Editer</a>
				</td>
				<td>
					<a 
						class="badge badge-primary"
						href="#/admin/department"
						ng-click="deleteDepartment(d.id)"
						id="deleteDepartment">
						Supprimer
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>