<div class="container">
    <h1>{{ title }}</h1>
    <form name="userForm">
        <p class="section-title">Informations concernant l'utilisateur</p>
        <div class="form-group row">
            <label for="userName" class="col-sm-3 col-form-label">Username <span class="required-field">*</span></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="user.userName" id="userName" maxlength="20" required />
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Nom complet <span class="required-field">*</span></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="user.name" id="name" required />
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">Email <span class="required-field">*</span></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="user.email" id="email" required />
            </div>
        </div>
        <div class="form-group row">
            <label for="userGroup" class="col-sm-3 col-form-label">Groupe ("IT" ou "users" par défaut) <span class="required-field">*</span></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="user.userGroup" id="userGroup" required />
            </div>
        </div>

        <br />
        <div class="form-group row">
            <label for="dpo" class="col-sm-3 col-form-label">DPO ? </label>
            <div class="col-sm-3 ml-4">
                <input class="form-check-input" type="checkbox"  ng-model="user.dpo" id="dpo">
            </div>
        </div>

        <br /><br />
        <p ng-if="user.id">Ne remplissez ces cases que si vous souhaitez modifier le mot de passe. Sinon, laissez-les vides.</p>
        <div class="form-group row">
            <label for="passwd" class="col-sm-3 col-form-label">Mot de passe <span class="required-field" ng-if="!user.id">*</span></label>
            <div class="col-sm-3">
                <input type="password" class="form-control" ng-model="user.passwd" id="passwd" name="passwd" ng-required="!user.id" />
            </div>
        </div>
        <div class="form-group row">
            <label for="passwdConf" class="col-sm-3 col-form-label">Confirmer mot de passe <span class="required-field" ng-if="!user.id">*</span></label>
            <div class="col-sm-3">
                <input type="password" class="form-control" ng-model="passwdConf" id="passwdConf" name="passwdConf" ng-required="!user.id" equals-to="userForm.passwd" />
            </div>
            <span class="text-danger col-sm-offset-3" ng-show="userForm.passwdConf.$error.equalsTo">
                Passwords are differents
            </span>
        </div>

        <br /><br />
        <div class="form-group row">
            <label for="inactif" class="col-sm-3 col-form-label">Compte inactif ? </label>
            <div class="col-sm-3 ml-4">
                <input class="form-check-input" type="checkbox"  ng-model="user.inactif" id="inactif">
            </div>
        </div>

        <br /><br />

        <p><span class="required-field">*</span> Champ obligatoire</p>
        <button type="button" onclick="history.go(-1)" class="btn btn-default">Retour</button>
		<button type="submit" ng-disabled="userForm.$invalid" ng-click="editUser(user)" class="btn btn-primary">Enregistrer</button>
    </form>
    </div>